<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
  <Section Name="Appsettings">
    <Parameter Name="RedisServerLocation" Value="localhost:6379" />
    <Parameter Name="DataApikey" Value="" />
    <Parameter Name="RefreshInterval" Value="30000" />
    <Parameter Name="ConnectionString" Value="localhost:6379,abortConnect=false" />
  </Section>
</Settings>
